version: 2.1

orbs:
  architect: giantswarm/architect@0.10.2

workflows:
  test:
    jobs:
      - architect/go-test:
          context: architect
          name: go-test
          filters:
            # Trigger job also on git tag.
            tags:
              only: /^v.*/

      - architect/integration-test:
          context: architect
          name: bootstrap-integration-test
          setup-script: "integration/setup/setup.sh"
          test-dir: "integration/test/bootstrap"
          requires:
            - go-test
